@model UserInfoDto
<div class="sidebar-footer">
    <div class="user-info">
        <img src="~/logo/varsayilanpp.jpg" alt="User">
        <div>
            <h4>@Model.NameSurname</h4>
            <p>Admin</p>
        </div>
    </div>
    <a href="/Login/CikisYap">
        <i class="fas fa-sign-out-alt"></i>
    </a>
</div>