<header class="payment-header">
    <div class="container">
        <div class="logo">
            <a href="/Anasayfa"><img src="~/logo/amazon_logo.png" alt="Site Logo"></a>
        </div>
        <div class="checkout-progress">
            <div class="step completed">
                <span><i class="fas fa-check"></i></span>
                <p>Sepetim</p>
            </div>
            <div class="step completed">
                <span><i class="fas fa-check"></i></span>
                <p>Ödeme</p>
            </div>
            <div class="step completed">
                <span><i class="fas fa-check"></i></span>
                <p>Onay</p>
            </div>
        </div>
        <div class="secure-checkout">
            <i class="fas fa-lock"></i>
            <span>Güvenli Alışveriş</span>
        </div>
    </div>
</header>