@model UserInfoDto
<!-- Mobile Header -->
<header class="mobile-header">
    <button class="menu-toggle">
        <i class="fas fa-bars"></i>
    </button>
    <div class="logo-container">
        <img src="~/logo/amazon_logo.png" alt="Admin Panel Logo" class="header-logo">
    </div>
    <div class="user-avatar">
        <img src="~/logo/varsayilanpp.jpg" alt="User">
    </div>
</header>