<!-- Boş Favori Durumu -->
<div class="empty-favorites" style="display: none;">
    <div class="empty-content">
        <i class="far fa-heart"></i>
        <h3>Favori listeniz boş</h3>
        <p>Beğendiğiniz ürünleri favorilerinize ekleyerek burada saklayabilirsiniz.</p>
        <a href="index.html" class="browse-products">Ürünlere Göz Atın</a>
    </div>
</div>