<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_HeadMainComponentPartial")
<body>
    <!-- Top Bar -->
    @await Component.InvokeAsync("_HeaderMainComponentPartial")

    <!-- Sidebar (Masaüstü) -->
    @await Component.InvokeAsync("_SideBarMainComponentPartial")

    <!-- Ana İçerik -->
    <div class="main-content">
        @RenderBody()
    </div>

    <!-- Footer -->
    @await Component.InvokeAsync("_FooterMainComponentPartial")

    @await Component.InvokeAsync("_ScriptCategoryProductListComponentPartial")

    @await Component.InvokeAsync("_WarningModalComponentPartial")
</body>

</html>