<!DOCTYPE html>
<html lang="tr">

@await Component.InvokeAsync("_HeadProfilesComponentPartial")

<body>
    <!-- Loading Screen -->
    <div class="loading-screen">
        <div class="spinner"></div>
        <p>Profil bilgileri yükleniyor...</p>
    </div>

    @await Component.InvokeAsync("_TopBarShoppingComponentPartial")

    @RenderBody()

    @await Component.InvokeAsync("_EditProfilesComponentPartial")

    @await Component.InvokeAsync("_ChangePasswordProfilesComponentPartial")

    @await Component.InvokeAsync("_AddAddressProfilesComponentPartial")

    @await Component.InvokeAsync("_EditAddressProfilesComponentPartial")

    @await Component.InvokeAsync("_AddCardProfilesComponentPartial")

    @await Component.InvokeAsync("_EditCardProfilesComponentPartial")

    @await Component.InvokeAsync("_FooterMainComponentPartial")

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script src="~/js/profiles.js"></script>
    <script src="~/js/sepet.js"></script>
</body>
</html>