<!-- Main Content -->
<main class="help-container">
    <div class="container">
        
        @await Component.InvokeAsync("_CategoriesHelpComponentPartial")

        @await Component.InvokeAsync("_FAQHelpComponentPartial")

        @await Component.InvokeAsync("_ContactHelpComponentPartial")
        
    </div>
</main>